<form class="form-inline" role="form" novalidate>
  <div class="row">
    <div class="form-group">
      <label class="sr-only" for="item-name">Your Item</label>
      <input class="form-control" name="item-name" id="item-name" placeholder="Item name">
    </div>
    <div class="form-group">
      <label class="sr-only" for="item-price">Price of Item</label>
      <input class="form-control" name="item-price" id="item-price" placeholder="Item price">
    </div>
    <button class="btn btn-info" type="submit">Save</button>
  </div>

</form>

<span ng-repeat="item in items">
  <div class="row">
    <div class="pull-left">{{ item.key }}</div>
    <div class="pull-right">{{ item.value }}</div>
    </div>
</span>

